<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/design.css}">

  <title>WEEKEND CONCERT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body >
<div class="jumbotron text-center" style="background-color:#fdac53;">
  <B> 
  <h1 style="background-color:#efe1ce">THE WEEKEND SHOW</h1>
 <EM> <p>TORONTO'S BIGGEST CONCERT</p> </EM>
 FOR MORE INFORMATION ABOUT US : <A href="https://www.internationalcentre.com/">INTERNATIONAL CENTER</a>
</B> 
</div>

<div class="container">
<section style="padding:2">
  <div class="row">
    <div class="col-sm-4">
      <b><h3>ARTIST : WEEKEND</h3></b>
      <img src="https://dailytargum.imgix.net/images/e46ef589-c99d-46e8-9dc5-fd204b695a48.png" class="img-thumbnail" width="200" height="200" border-radius="10px" padding="10px" >
    
    </div>
    <div class="col-sm-4">
      <b><h3>UNLIMITED FOOD AND DRINKS</h3></b>
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/18/cc/fc/d8/sharing-plates.jpg" class="img-thumbnail" width="200" height="200" border-radius="10px" padding="10px" >
      
    </div>
    <div class="col-sm-4">
      <b><h3>Group Passes </h3> </b>  
      <img src="https://thumbs.dreamstime.com/b/group-people-performing-live-music-band-concert-performance-vector-illustration-77076921.jpg" class="img-thumbnail" width="200" height="200" border-radius="10px" padding="10px" >     
      
    </div>
  </div>
  </section>
</div>

<footer>
    <a href="/add">BOOK TICKETS</a>
</footer>
</body>
</html>
